<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "icon" href = "images/conor.jpg">
    <script>
        
    </script>
    <title>Conor McGregor Official Website</title>
</head>
<body>
    <nav class = "navbar">
        <div class="title"><a href = "#">Conor Mcgregor </a></div>
        <ul class = "nav-links">
            <li> <a href = "#"> THE NOTORIOUS </a></li>
            <li> <a href = "#"> MEDIA </a></li>
            <li> <a href = "#"> RECORD </a></li>
            <li> <a href = "#"> CONTACT </a></li>
        </ul>
        <div class = "tgl-btn">
            <div class = "line1"></div>
            <div class = "line3"></div>
            <div class = "line2"></div>
        </div>
    </nav>
    <img class = "home-image"src = "./images/conor.jpg">
    
    <h1 class = "title2"> Latest Photos</h1>

    <!-- Slideshow container -->
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numberText"> 1 / 3</div>
            <img class = "conor-img" src = "./images/conor3.jpg" style = "width  : 70%;object-fit : cover; height : 600px">
        </div>

        <div class="mySlides fade">
            <div class="numberText"> 2 / 3</div>
            <img class = "conor-img" src = "./images/conor2.jpg" style = "width  : 70% ;object-fit : cover; height : 600px">
        </div>
        <div class="mySlides fade">
            <div class="numberText"> 3 / 3</div>
            <img class = "conor-img" src = "./images/conor1.jpg" style = "width  : 70%; object-fit : cover; height : 600px">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlides(1)"></span> 
        <span class="dot" onclick="currentSlides(2)"></span> 
        <span class="dot" onclick="currentSlides(3)"></span> 
    </div>

    <div class = "about">
        <h4>ABOUT</h4>
        <img class = "about-img" src = "./images/conor2.jpg">
        <p class = "about-text">
            Conor Anthony McGregor is an Irish professional mixed martial artist and boxer. He is a former Ultimate Fighting Championship featherweight and lightweight champion. As of 25 January 2021, he is #6 in the UFC lightweight rankings. McGregor is a former Cage Warriors featherweight and lightweight champion.
        </p>
    </div>
    <div class = "footer">
        <ul class = "footer-links">
            <li> <a href = "#"> The Notorious </a> </li>
            <li> <a href = "#"> Media </a> </li>
            <li> <a href = "#"> Record </a> </li>
            <li> <a href = "#">Contact</a> </li>
        </ul>
        <ul class = "social-media">
            <div class = "contact">Contact Us</div>
            <li> <a href = "#"> <img src = "./images/twitterBlackRound.png"> </a> </li>
            <li> <a href = "#"> <img src = "./images/instaBlackRound.png"></a>  </li>
            <li> <a href = "#"> <img src = "./images/fbBlackRound.png"></a>  </li>
        </ul>
    </div>
    <script src = "app.js"></script>
</body>
</html>